<md-card>
  <h4>Created by: Luis Molina</h4> 
  <md-chip-list class="mat-chip-list-stacked">
    <a href="https://github.com/Rocamadour7" target="_blank"><md-chip selected>Github Repository</md-chip></a>
    <br>
    <a href="https://github.com/Rocamadour7/nfl-draft-app" target="_blank"><md-chip style="margin-bottom: 5px;">Angular APP Repository</md-chip></a>
    <a href="https://github.com/Rocamadour7/nfl-draft-api" target="_blank"><md-chip>Laravel API Repository</md-chip></a>
  </md-chip-list>
  <p>© 2017 NFL Enterprises LLC. NFL and the NFL shield design are registered trademarks of the National Football League.The team names, logos and uniform designs are registered trademarks of the teams indicated. All other NFL-related trademarks are trademarks of the National Football League. NFL footage © NFL Productions LLC.</p>
  <p>Everything used for academic purposes only.</p>
</md-card>