<md-card>
  <md-card-actions><button md-button (click)="goBack()"><md-icon>arrow_back</md-icon> Back</button></md-card-actions>
  <md-card-header>
    <md-card-title>Player name</md-card-title>
    <md-card-subtitle>Player college & conference</md-card-subtitle>
  </md-card-header>
  <img md-card-image-sm src="http://localhost:8000/storage/avatars/default.jpg" alt="Player name">
  <md-card-content>
    <p>Player test 1</p>
    <p>Player test 2</p>
    <p>Player test 3</p>
    <p>Player test 4</p>
  </md-card-content>
</md-card>
