<md-tab-group md-stretch-tabs="yes">
  <md-tab label="Name">
    <md-card>
      <md-card-content>
        <md-nav-list>
          <md-list-item>
            <span class="col-1"><strong>Name</strong></span>
            <span class="col-2"><strong>Pos</strong></span>
            <span class="col-3"><strong>College</strong></span>
          </md-list-item>
          <a md-list-item *ngFor="let player of players | async | orderBy:'lastName' ">
            <span class="col-1">{{ player.lastName }}, {{ player.firstName }}</span>
            <span class="col-2">{{ player.position.name }}</span>
            <span class="col-3">{{ player.college.name }}</span>
          </a>
        </md-nav-list>
      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab label="Position">
    <md-card>
      <md-card-title>
        <md-select placeholder="Position" [(ngModel)]="selectedPosition">
          <md-option *ngFor="let position of positions | async" [value]="position.id">{{ position.name }}</md-option>
        </md-select>
      </md-card-title>
      <md-card-content>
        <md-nav-list>
          <md-list-item>
            <span class="col-1"><strong>Name</strong></span>
            <span class="col-2"><strong>Pos</strong></span>
            <span class="col-3"><strong>College</strong></span>
          </md-list-item>
          <a md-list-item *ngFor="let player of players | async  | filterTeams:'teams':'id':selectedPosition">
            <span class="col-1">{{ player.lastName }}, {{ player.firstName }}</span>
            <span class="col-2">{{ player.position.name }}</span>
            <span class="col-3">{{ player.college.name }}</span>
          </a>
        </md-nav-list>
      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab label="College">
    <md-card>
      <md-card-title>
        <md-select placeholder="College" [(ngModel)]="selectedCollege">
          <md-option *ngFor="let college of colleges | async" [value]="college.id">{{ college.name }}</md-option>
        </md-select>
      </md-card-title>
      <md-card-content>
        <md-nav-list>
          <md-list-item>
            <span class="col-1"><strong>Name</strong></span>
            <span class="col-2"><strong>Pos</strong></span>
            <span class="col-3"><strong>College</strong></span>
          </md-list-item>
          <a md-list-item *ngFor="let player of players | async | orderBy:'lastName' | filter:'college_id':selectedCollege">
            <span class="col-1">{{ player.lastName }}, {{ player.firstName }}</span>
            <span class="col-2">{{ player.position.name }}</span>
            <span class="col-3">{{ player.college.name }}</span>
          </a>
        </md-nav-list>
      </md-card-content>
    </md-card>
  </md-tab>
</md-tab-group>