<md-tab-group md-stretch-tabs="yes">
  <md-tab label="Name">
    <md-card>
      <md-card-content>
        <md-nav-list>
          <md-list-item>
            <span class="col-1"><strong>Player</strong></span>
            <span class="col-2"><strong>Pos</strong></span>
            <span class="col-3"><strong>HT</strong></span>
            <span class="col-4"><strong>WT</strong></span>
            <span class="col-5"><strong>College</strong></span>
            <span class="col-6"><strong>Pick</strong></span>
            <span class="col-7"><strong>Team</strong></span>
          </md-list-item>
          <a md-list-item *ngFor="let player of players | async | orderBy:'lastName'; let i = index " [routerLink]="['/player', player.id]">
            <span class="col-1">{{ player.lastName }}, {{ player.firstName }}</span>
            <span class="col-2">{{ player.position.name }}</span>
            <span class="col-3">{{ player.height }}</span>
            <span class="col-4">{{ player.weight }}</span>
            <span class="col-5">{{ player.college.name }}</span>
            <span class="col-6">Pick {{ player.teams[0].pivot.draftRound }}, Round {{ player.teams[0].pivot.round }} ({{ player.teams[0].pivot.draftOverall }})</span>
            <span class="col-7">{{ player.teams[0].name }}</span>
          </a>
        </md-nav-list>
        <nfl-loading *ngIf="showLoading"></nfl-loading>
      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab label="Position">
    <md-card>
      <md-card-title>
        <md-select placeholder="Position" [(ngModel)]="selectedPosition">
          <md-option *ngFor="let position of positions | async" [value]="position.id">{{ position.name }}</md-option>
        </md-select>
      </md-card-title>
      <md-card-content>
        <md-nav-list>
          <md-list-item>
            <span class="col-1"><strong>Player</strong></span>
            <span class="col-2"><strong>Pos</strong></span>
            <span class="col-3"><strong>HT</strong></span>
            <span class="col-4"><strong>WT</strong></span>
            <span class="col-5"><strong>College</strong></span>
            <span class="col-6"><strong>Pick</strong></span>
            <span class="col-7"><strong>Team</strong></span>
          </md-list-item>
          <a md-list-item *ngFor="let player of players | async  | filter:'position_id':selectedPosition " [routerLink]="['/player', player.id]">
            <span class="col-1">{{ player.lastName }}, {{ player.firstName }}</span>
            <span class="col-2">{{ player.position.name }}</span>
            <span class="col-3">{{ player.height }}</span>
            <span class="col-4">{{ player.weight }}</span>
            <span class="col-5">{{ player.college.name }}</span>
            <span class="col-6">Pick {{ player.teams[0].pivot.draftRound }}, Round {{ player.teams[0].pivot.round }} ({{ player.teams[0].pivot.draftOverall }})</span>
            <span class="col-7">{{ player.teams[0].name }}</span>
          </a>
        </md-nav-list>
        <nfl-loading *ngIf="showLoading"></nfl-loading>
      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab label="College">
    <md-card>
      <md-card-title>
        <md-select class="colleges" placeholder="College" [(ngModel)]="selectedCollege">
          <md-option *ngFor="let college of colleges | async" [value]="college.id">{{ college.name }}</md-option>
        </md-select>
      </md-card-title>
      <md-card-content>
        <md-nav-list>
          <md-list-item>
            <span class="col-1"><strong>Player</strong></span>
            <span class="col-2"><strong>Pos</strong></span>
            <span class="col-3"><strong>HT</strong></span>
            <span class="col-4"><strong>WT</strong></span>
            <span class="col-5"><strong>College</strong></span>
            <span class="col-6"><strong>Pick</strong></span>
            <span class="col-7"><strong>Team</strong></span>
          </md-list-item>
          <a md-list-item *ngFor="let player of players | async | orderBy:'lastName' | filter:'college_id':selectedCollege" [routerLink]="['/player', player.id]">
            <span class="col-1">{{ player.lastName }}, {{ player.firstName }}</span>
            <span class="col-2">{{ player.position.name }}</span>
            <span class="col-3">{{ player.height }}</span>
            <span class="col-4">{{ player.weight }}</span>
            <span class="col-5">{{ player.college.name }}</span>
            <span class="col-6">Pick {{ player.teams[0].pivot.draftRound }}, Round {{ player.teams[0].pivot.round }} ({{ player.teams[0].pivot.draftOverall }})</span>
            <span class="col-7">{{ player.teams[0].name }}</span>
          </a>
        </md-nav-list>
        <nfl-loading *ngIf="showLoading"></nfl-loading>
      </md-card-content>
    </md-card>
  </md-tab>
</md-tab-group>