<md-card>
  <md-card-title>
    <button md-raised-button color="warn" (click)="selectedRound = 1">1</button>
    <button md-raised-button color="primary" (click)="selectedRound = 2">2</button>
    <button md-raised-button color="accent" (click)="selectedRound = 3">3</button>
    <button md-raised-button color="" (click)="selectedRound = 4">4</button>
    <button md-raised-button color="" (click)="selectedRound = 5">5</button>
    <button md-raised-button color="" (click)="selectedRound = 6">6</button>
    <button md-raised-button color="" (click)="selectedRound = 7">7</button>
  </md-card-title>
  <md-card-content>
    <md-nav-list>
      <md-list-item>
        <span class="col-1"><strong>Pick</strong></span>
        <span class="col-2"><strong>Team</strong></span>
        <span class="col-3"><strong>Player</strong></span>
        <span class="col-4"><strong>Pos</strong></span>
        <span class="col-5"><strong>HT</strong></span>
        <span class="col-6"><strong>WT</strong></span>
        <span class="col-7"><strong>College</strong></span>
      </md-list-item>
      <a md-list-item *ngFor="let player of players | async | orderBy:'id' | filterRounds:selectedRound ">
        <span class="col-1 big-pick">{{ player.teams[0].pivot.draftRound }} <span class="small-pick">({{ player.teams[0].pivot.draftOverall }})</span></span>
        <span class="col-2">{{ player.teams[0].name }}</span>
        <span class="col-3">{{ player.lastName }}, {{ player.firstName }}</span>
        <span class="col-4">{{ player.position.name }}</span>
        <span class="col-5">{{ player.height }}</span>
        <span class="col-6">{{ player.weight }}</span>
        <span class="col-7">{{ player.college.name }}</span>
      </a>
    </md-nav-list>
    <nfl-loading *ngIf="showLoading"></nfl-loading>
  </md-card-content>
</md-card>